html{
  font-size: 16px;
}


body {
  background-image: url("images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width:100vw;
  margin:0;
  font-size: 1rem;
}

 .top-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(39, 39, 39);
  justify-content: flex-end;  
  box-shadow: 0 20px 50px -10px rgba(229, 176, 2, 0.5);    
}

.signature {  
  height: 50px;
  margin-top: 7px;
}

.signature-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 960px;
}

*.link-container {
  position: sticky;
  top: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  padding-top: 3px;
  padding-right: 40px;
  padding-left: 40px;
}

.top-container a {
  font-size: 13px;
  font-family: 'Helvetica', sans-serif;
  color: rgb(197, 197, 197);
  text-decoration: none;
}

.separations {
  font-family: Tahoma;
  color: rgb(255, 255, 255);
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 00px 5px 8px rgba(117, 117, 117, 0.5);
  text-align: center;
  margin-top: 150px;
  font-size:1em;
}

.headline h1 {
  font-size:1.7em;
  font-family: 'Arial', monospace;
  color: rgb(219, 218, 218);
}

.headline p {
  font-family: 'Arial', monospace;
  color: rgb(219, 218, 218);
}

.me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

.me {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.personal-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-top: 10px;
}

.name {
  font-size: 30px;
  font-family: 'Arial', monospace;
  color: rgb(219, 218, 218);
  margin-top: 0px;
  margin-bottom: 5px;
}

.location {
  font-size: 20px;
  font-family: 'Arial', monospace;
  color: rgb(219, 218, 218);
  margin-top: 0px;
}

.quote {
  font-size: 15px;
  font-family: 'Arial', monospace;
  color: rgba(229, 176, 2);
  margin-top: 0px;
  margin-bottom: 3px;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

a:active {
  color: gold;
}
footer{
  color: rgb(255, 255, 255);
  font-family: 'Arial', monospace;
  text-align: center;
  margin-top:13.3vh;
}

body#about {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#about .aboutheadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgb(229, 176, 2, 0.5) 0%, rgb(48, 48, 48) 14% 86%, rgb(229, 176, 2, 0.5));
  box-shadow: 00px 5px 8px rgba(2, 2, 2, 1);
  height: 6px;
  text-align: center;
  margin-top: 90px;
}

#about h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-family: 'Arial', monospace;
  color: rgb(241, 235, 235);
}

#about .container1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 20px;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 30px;
  width: 50%;
}

#about .container2, .container4 {
  display: flex;
  align-items: flex-end;
  border-radius: 20px;
  padding-right: 30px;
  margin-top: 0px;
  margin-left: 49%;
  /* width: 900px; */

}

#about .container3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 20px;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 0px;
  width: 50%;
}

#about .army,
.cpt,
.weld, .coding {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

#about .container1 p {
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Arial', monospace;
}

#about .container2 p {
  text-align: right;
  padding-top: 0px;
  padding-right: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Arial', monospace;
}

#about .container3 p {
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Arial', monospace;
}
#about .container4 p {
  text-align: right;
  padding-top: 0px;
  padding-right: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Arial', monospace;
}

#about a:hover {
  text-decoration: underline;
}

#about a:active {
  color: gold;
}
#about footer{
  color: rgb(255, 255, 255);
  font-family: 'Arial', monospace;
  text-align: center;
  margin-top:4.3vh;  
}

body#portfolio {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#portfolio .top-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(39, 39, 39);
  justify-content: flex-end;
  border-radius: 5px;
  box-shadow: 0 30px 40px -10px rgba(2, 142, 229, 0.5);
}

#portfolio .project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(to right, rgb(254, 2, 166, 0.3) 0% 8%, rgb(146, 2, 229, 0.3)16% 24%, rgba(2, 168, 229, 0.3)45% 68%, rgb(146, 2, 229, 0.3) 76% 84%, rgb(254, 2, 166, 0.3) 92% 100%);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 70px;
}

#portfolio .project-container img {
  width: 270px;
  height: 270px;
  border: 5px solid #000000;
  border-radius: 15px;
}

#portfolio .project-names {
  display: flex;
  flex-direction: row;
  padding-left: 235px;
  padding-right: 200px;
  background-color: rgb(0, 0, 0);
  box-shadow: 00px 10px 25px -10px rgb(52, 255, 1);
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#portfolio .project-names p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  font-family: 'Arial', monospace;
  color: rgb(241, 235, 235);
}

#portfolio .pettext {
  padding-right: 265px;
}

#portfolio .sheltertext {
  padding-right: 20px;
}

#portfolio .blackjacktext {
  padding-right: 35px;
  padding-left: 240px;
}

#portfolio .garagetext {
  padding-right: 0px;
  margin-left: 295px;
}

#portfolio .project-info {
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  /* background-color: gray; */
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#portfolio .project-info p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  font-family: 'Arial', monospace;
  color: rgb(241, 235, 235);
}

#portfolio .petinfo {
  border: 2px solid #ffffff;
  background-color: black;
  text-align: justify;
  /* background-color: red; */
  margin-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#portfolio .shelterinfo {
  text-align: justify;
  border: 2px solid #ffffff;
  background-color: black;
  /* background-color: skyblue; */
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

#portfolio .blackjackinfo {
  border: 2px solid #ffffff;
  background-color: black;
  text-align: justify;
  /* background-color: yellow; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
}

#portfolio .garageinfo {
  border: 2px solid #ffffff;
  background-color: black;
  text-align: justify;
  /* background-color: green; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
}

#portfolio .project-container a:hover {
  opacity: 0.5;
}
#portfolio footer{
  color: rgb(255, 255, 255);
  font-family: 'Arial', monospace;
  text-align: center;
  margin-top:15.4vh; 
}

body#contact {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#contact .main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20vh;
  /* border: 2px solid #27db4b; */
}

#contact .contact-text {
  font-family: 'Arial', monospace;
  color: rgb(253, 253, 253);
  /* border: 2px solid #27db4b; */
  width: 600px;
  text-align: center;
  padding-top: 110px;
}

#contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #db2727; */
  background-color: rgb(12, 12, 12, 0.8);
  border-radius: 8px;
  box-shadow: inset 1px 1px 20px 0.5px #8a8a8a;
  width: 600px;
  height: 500px;
}

#contact .name-box {
  margin-top: 20px;
  /* border: 2px solid #e65dc6; */
  display: flex;
  width: 400px;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-start;
}

/* text attributes */
#contact label[for="name"] {
  margin-bottom: 3px;
  color: rgb(243, 243, 243);
  /* border: 2px solid #db2727; */
  width: 180px;
  font-family: 'Arial', monospace;
}

/* handles box shape */
#contact [name="nameinput"] {
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 10px;
  height: 25px;
}

/* holds both boxes */
#contact .nameinput-box {
  /* border: 2px solid #e65dc6; */
  display: flex;
  width: 400px;
  gap: 20px;
}

#contact .email-box {
  margin-bottom: 3px;
  padding-top: 20px;
  display: flex;
  width: 400px;
  /* border: 2px solid #e4e65d; */
  color: rgb(243, 243, 243);
  font-family: 'Arial', monospace;
}

#contact [name="email"] {
  width: 370px;
  /* border: 2px solid rgb(93, 230, 123);   */
  border-radius: 10px;
  height: 25px;
}

#contact .message-box {
  margin-bottom: 5px;
  padding-top: 20px;
  display: flex;
  width: 400px;
  /* border: 2px solid #e4e65d; */
  color: rgb(243, 243, 243);
  font-family: 'Arial', monospace;
}

#contact [name="message"] {
  width: 370px;
  /* border: 2px solid rgb(93, 230, 123);   */
  border-radius: 10px;
  height: 200px;
  font-family: 'Arial', monospace;
}

#contact .button {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 90px;
}

#contact .button:hover {
  background-color: rgb(50, 121, 234);
}

#contact .main-container a:hover {
  opacity: 0.7;
}

#contact .button:active {
  background-color: rgb(0, 58, 151);
}
#contact footer{
  color: rgb(255, 255, 255);
  font-family: 'Arial', monospace;
  text-align: center;
  margin-top:9.6vh;
   
}


body#experience {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#experience .high-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 7vh;
  /* background-color: rgb(255, 174, 127); */
}

#experience .mid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  /* background-color: rgb(255, 174, 127); */
}

#experience .mid-container a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}

#experience .mid-container a:hover {
  text-decoration: none;
  color: purple;
}

#experience .job1,
.job2,
.job3 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  height: 30vh;
  width: 30vw;
  /* border: 2px solid rgb(0, 0, 0); */
}

#experience .bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  /* background-color: aquamarine; */
}

#experience .low-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top:10px;
  height: 12vh;
  background-color: rgba(102, 102, 102, 0.2);
}

#experience .edu-box {
  display: flex;
  height: 30vh;
  width: 30vw;
  /* border: 2px solid rgb(0, 0, 0); */
}

#experience .skillbox1,
.skillbox2,
.edu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 30vw;
  /* border: 2px solid rgb(0, 0, 0); */
  margin-bottom: 40px;
}

#experience .skillbox1,
.skillbox2,
.edu-box ul {
  margin-top: 0px;
}

#experience .skillbox1,
.skillbox2,
.edu-box p {
  margin-top: 1px;
}

#experience .skillbox1,
.skillbox2,
 li {
  margin-top: 6px;
}

#experience .mid-container,
.bottom-container {
  font-family: 'Arial', monospace;
  color: white;
}

#experience footer{
  color: rgb(255, 255, 255);
  font-family: 'Arial', monospace;
  text-align: center;
  margin-top:3.5vh;
}
